@charset "utf-8";
body {
    background: #000;
    color: rgb(222, 221, 218);
    font-size: 1.1235rem;
    line-height: 1.875rem;
}


/* Header */
h1 {
    font-size: 3.75rem;
    line-height: 1;
    margin-bottom: 1em;
}
p span {
    font-size: 1.875rem;
}


/* 공통 클래스 */
.wrapper {
    width: 100%;
    margin: 0 auto;
}


/* Header 박스 */
header .wrapper {
    background: url('/images/LUSH_LOGO.jpeg') 4.16667% center no-repeat;
    background-size: 33.333333333% auto;
    padding: 10% 4.16667% 10% 41.6667%;
}


/* 각 Section */
#store_1 .wrapper {
    background: url('/images/LUSH07.jpeg') 4.16667% center no-repeat;
    background-size: 33.333333333% auto;
    padding: 10% 4.16667% 10% 41.6667%;
}
#store_2 .wrapper {
    padding: 10% 4.16667% 10% 4.16667%;
}
#store_3 .wrapper {
    padding: 10% 4.16667% 10% 4.16667%;
}


/* Footer */
footer {
    background-color:#000;
    text-align: center;
    padding: 4.16667% 3.33333%;
}


/* 패럴렉스 CSS */
/* 각각의 박스 영역 뒤에 가상클래스 ::after를 사용하여 공간을 만든 후 배경 속성으로 고정함 */
header::after, section::after {
    width: 100%;
    height: 400px;
    display: block;
    content: "";
    box-shadow: inset 0 0 10px rgba(0,0,0,0.3);

    /* 공통 배경이미지 속성 */
    background-repeat: no-repeat;
    background-position: center center;

    /* 배경이미지고정 */
    background-attachment: fixed;
}


/* 패럴렉스 배경이미지 추가 */
header::after {
    background-image: url('/images/LUSH02.jpeg');
}
#store_1::after {
    background-image: url('/images/LUSH01.jpeg');
}
#store_2::after {
    background-image: url('/images/LUSH03.jpeg');
}
#store_3::after {
    background-image: url('/images/LUSH03.jpeg');
}
